
<p>
<div style='text-align:right; width:100%;'>
	<%= link_to 'Voltar', localizacaos_path, :class => 'btn btn-primary' %>
</div>
</p>

<legend><b>Localização:</b> <%= @localizacao.descricao %></legend>

<table class="table table-bordered table-striped table-condensed" >
<thead>
  <tr>
    <th style='text-align:center;'>Produto</th>
    <th style='text-align:center;'>Qtde. Estoque</th>
  </tr>
</thead>
<tbody>
<% @localizacao.produtos.each do |produto| %>
  <tr>
    <td width='80%'><%= produto.nomeProduto %></td>
    <td width='20%' style='text-align:right;'><%= produto.estoque %></td>
  </tr>
<% end %>
</tbody>
</table>
