/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.multiselect {
    width:400px;
    height:200px;
    border:solid 1px #c0c0c0;
    overflow:auto;
}

.multiselect label {
    display:block;
}

.multiselect-on {
    color:#ffffff;
    background-color:#0088CC;
}

.multiselect hr {
border: 0;
margin: 0;
padding: 0;
}
